<div class="content" role="main">
  <div class="container">
    <div class="topBox">Application free process</div>
    <div class="formBox">
      <form #admissionForm="ngForm" class="pt-2 pr-2" novalidate>

        <div class="row">
          <h5 class="col-12 mt-2 mb-2 "> Your Application has been Submitted Sucessfully and your Application Number
            is:C2021154</h5>
          <div class="col-6 mt-2 paddingRigth">
              <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Student name</mat-label>
              <input matInput type="text"  required name="studentname">
            </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Father's name</mat-label>
                <input matInput type="text"  required name="fatherName">
              </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Moblie number</mat-label>
                <input matInput type="text"  required name="moblienumber">
              </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Date of birth</mat-label>
                <input matInput type="text"  required name="dateof birth">
              </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Application number</mat-label>
                <input matInput type="text"  required name="applicationnumber">
              </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Course name</mat-label>
                <input matInput type="text"  required name="coursename">
              </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Payment type</mat-label>
                <input matInput type="text"  required name="paymenttype">
              </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Paying Amount</mat-label>
                <input matInput type="text"  required name="payingamount">
              </mat-form-field>
            </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Course year</mat-label>
                <input matInput type="text"  required name="course year">
              </mat-form-field>
          </div>
          <div class="col-6 mt-2 paddingRigth">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Notication late free</mat-label>
                <input matInput type="text"  required name="noticationlatefree">
              </mat-form-field>
          </div>
          
        </div>
<div class="text-center">  <button  mat-raised-button color="primary" class="btn-block  mt-2" >Proceed to online payment</button>
</div>
      </form>
    </div>
  </div>
</div>
